.formRegistration {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;
  min-width: 200px;

  padding: 20px;

  background-color: #f5f5f5b5;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}

.labelName,
.labelEmail,
.labelPassword,
.labelConfirmPassword {
  align-self: start;
  margin-bottom: 10px;
  font-size: 1.6rem;
  margin-top: 5px;
}

.errorContener {
  width: 100%;
  padding-left: 3px;
}

.error {
  min-height: 20px;
  margin-top: 4px;
  color: red;
  font-size: 12px;
  transition: opacity 0.3s ease;
  display: flex;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
