.formRegistration {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 88vh;
  margin: auto;
  width: 20%;
}

.labelName,
.labelEmail,
.labelPassword,
.labelConfirmPassword {
  align-self: start;
  margin-bottom: 10px;
  font-size: 1.6rem;
  margin-top: 5px;
}

.submit {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 5px;
  background-color: rgb(100, 185, 185);
  &:hover {
    background-color: rgb(228, 126, 216);
    cursor: pointer;
    transition-duration: 2s;
  }
}

.error {
  min-height: 20px;
  margin-top: 4px;
  color: red;
  font-size: 12px;
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.inputForm {
  height: 2.5em;
  width: 100%;
}
