.wrapper {
  width: auto;
  flex-grow: 0.5;
}

.inputContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;


}

.urlInput,
.sdlInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.6rem;

  @media(width<450px) {
    font-size: 1.1rem;
  }

  >input {
    @media(width<450px) {
      font-size: 1.1rem;
    }
  }

}