.wrapper {
  padding: 6rem;
  transition: 0.5s;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5b5;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  margin-bottom: 20px;
}

.headerContainer {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 10px;
}

.headerContainer h1 {
  color: #6f6f6f;
}

.sendContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.inputContainer {
  flex-grow: 1;
}

.selectContainer select {
  height: 40px;
  padding: 8px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
}

.selectContainer select:focus {
  outline: none;
}

@media (width <=500px) {
  .container {
    width: auto;
  }

  .wrapper {
    padding: 0;
  }
}
