.language {
  display: flex;
  align-items: center;
  width: auto;
}

.selectWrap {
  cursor: pointer;
  border: solid 1px white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  align-items: center;

  >option {
    font-size: 1.6rem;
    transition: color 0.3s ease;
    font-weight: bold;
    color: #ffffff93;

    &:hover {
      color: #64b3ff;
    }
  }
}