.language {
  display: flex;
  align-items: center;
  width: 70px;
}

.languageFlag {
  width: 24px;
  height: 24px;
}

.buttonWrap {
  cursor: pointer;
  padding: 1px;
  border: none;
  background-color: transparent;
  align-items: center;
}

.languageName {
  margin: 0;
  font-size: 1.6rem;
  transition: color 0.3s ease;
  &:hover {
    color: #64b3ff;
  }
}

.buttonWrap p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff93;
}
