:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url('/background-main.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  & button {
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(100, 185, 185);

    &:hover {
      background-color: rgb(228, 126, 216);
      cursor: pointer;
      transition-duration: 0.5s;
    }
  }
}

@media (max-width: 1240px) {
  body {
    background-image: url('/background_tablet.png');
  }
}

@media (max-width: 780px) {
  body {
    background-image: url('/background_mobile.png');
  }
}
