.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cdcdcd;
  background-color: #f5f5f550;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
}

.main h1 {
  text-align: center;
  font-size: 2.3rem;
  color: #6f6f6f;
}

.containerLink {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signIn,
.signUp {
  font-size: 1.3rem;
  text-decoration: none;
  height: 40px;
  padding: 0 20px;
  background-color: #5496ec;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  margin: 5px;
}

.signIn,
.signUp {
  &:active {
    background-color: #88cbff;
  }
  &:hover {
    box-shadow: 0px 0px 10px 2px #88cbff inset;
  }
}
