.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 187, 171);
  height: 6vh;
}

.navigation {
  width: 80%;
  display: flex;
  margin: 5px 0 5px 5px;
}

.active {
  color: aquamarine;
}

.logo {
  align-self: center;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}
