.selectContainer select {
  height: 40px;
  padding: 8px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  margin: 5px 0;
}

.selectContainer select:focus {
  outline: none;
}

.editorContainer textarea {
  width: 98%;
  max-width: 1000px;
  max-height: 440px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin: 5px 0;
  resize: none;
  font-size: 14px;
  padding: 8px;
}

.editorContainer textarea:focus {
  outline: none;
  border: 1px solid #ffab67;
}

.bodyControl {
  display: flex;
  justify-content: space-between;
}

.magicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  margin-right: 10px;
}

.magic {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.textareaMagic {
  border-radius: 5px;
  animation: text-magic 1s infinite;
}

.textareaError {
  border: 1px solid colo red;
  animation: text-error 1.5s infinite;
}

.magic:active {
  transform: scale(0.85);
  transition: all 0.1s ease;
}

@media (width <=500px) {
  .editorContainer textarea {
    width: 95%;
  }
}

@keyframes text-magic {
  0% {
    color: #050505;
  }

  25% {
    color: #494949;
  }

  50% {
    text-shadow: 0 0 5px #424242;
    color: #a8a8a87c;
  }

  75% {
    color: #494949;
  }

  100% {
    color: #030303;
  }
}

@keyframes text-error {
  0% {
    color: #000;
    border-color: #cdcdcd;
  }

  25% {
    color: #f00;
    border-color: #f00;
  }

  50% {
    color: #000;
    border-color: #cdcdcd;
  }

  75% {
    color: #f00;
    border-color: #f00;
  }

  100% {
    color: #000;
    border-color: #cdcdcd;
  }
}
