.footer {
  height: auto;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.gitHub,
.year,
.school {
  align-self: center;
}

.gitHub,
.year {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}
