.container {
  display: flex;
  flex-grow: 1;
}

.container label {
  width: 100%;
  margin-right: 5px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  margin-right: 5px;
  padding: 10px;
}

.img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.1s ease;
  padding: 5px;
}
