.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 187, 171);
  height: 6vh;
}

.registration {
  width: 17%;
  display: flex;
  margin-left: 42%;
  justify-content: space-between;
}

.active {
  color: aquamarine;
}

.signIn,
.signUp {
  align-self: center;
  font-size: 1.6rem;
}

@media (width < 1100px) {
  .registration {
    width: 20%;
    margin-left: 10%;
  }
}

@media (width < 900px) {
  .registration {
    width: 25%;
  }
}

@media (width < 700px) {
  .registration {
    width: 33%;
  }
}

@media (width < 500px) {
  .registration {
    width: 38%;
  }
}

@media (width < 480px) {
  .registration {
    width: 60%;
  }
}
